<div class="m-1 sm:m-2 md:m-4">
    <section class="flex flex-col gap-5 mb-4">
        <div class="flex flex-row items-center gap-3">
            <div
                class="items-center rounded-full bg-gray-200 p-1.5 text-sm text-mirage-600 hidden dark:bg-mirage-950 dark:text-mirage-400 sm:flex">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-topology-star" width="30"
                    height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M8 18a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z"></path>
                    <path d="M20 6a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z"></path>
                    <path d="M8 6a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z"></path>
                    <path d="M20 18a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z"></path>
                    <path d="M14 12a2 2 0 1 0 -4 0a2 2 0 0 0 4 0z"></path>
                    <path d="M7.5 7.5l3 3"></path>
                    <path d="M7.5 16.5l3 -3"></path>
                    <path d="M13.5 13.5l3 3"></path>
                    <path d="M16.5 7.5l-3 3"></path>
                </svg>
            </div>
            <div>
                <h1 class="text-sm font-semibold sm:text-lg">Distribución</h1>
                <p class="text-xs text-gray-400">Gestione áreas, secciones y módulos</p>
            </div>
        </div>
    </section>

    <section class="flex flex-col gap-2">
        <div class="flex flex-row items-center justify-between gap-2 px-2">
            <h2 class="text-base">Áreas</h2>
            <button type="button" (click)="toggleCreateAreaModal()"
                class="custom-blue-button dark:custom-blue-button-dark">
                Crear Área
            </button>
        </div>

        <div class="pb-2">
            <div class="flex">
                <div class="w-full overflow-y-auto">
                    <table class="w-full text-left">
                        <thead
                            class="border border-mirage-400 bg-mirage-100 text-[10px] font-medium uppercase dark:bg-mirage-950 dark:border-mirage-600">
                            <tr>
                                <th scope="col" class="p-4">
                                    Id área
                                </th>
                                <th scope="col" class="p-4">
                                    Descripcion
                                </th>
                                <th scope="col" class="p-4">
                                    Estado
                                </th>
                                <th scope="col" class="p-4">
                                    A/I
                                </th>
                                <th scope="col" class="p-4">
                                    Nro. Secciones
                                </th>
                                <th scope="col" class="p-4">
                                    Añadir
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let area of areaInformation"
                                class="border border-mirage-400 hover:bg-gray-100 dark:border-mirage-600 dark:hover:bg-mirage-900/10">
                                <td class="p-4 whitespace-nowrap">
                                    {{area.id_area}}
                                </td>

                                <td class="p-4 font-semibold whitespace-nowrap">
                                    {{area.descripcion}}
                                </td>

                                <td class="p-4 whitespace-nowrap">
                                    <span [ngClass]="getStatusClass(area.isAvailible)">
                                        {{area.isAvailible | statusManagement
                                        }}
                                    </span>
                                </td>

                                <td class="p-4 whitespace-nowrap">
                                    <label class="relative inline-flex items-center cursor-pointer">
                                        <input type="checkbox" [checked]="area.isAvailible" name="area-active"
                                            (change)="updateAreaState(area.id_area, area.isAvailible)"
                                            class="sr-only peer" />
                                        <div
                                            class="peer h-5 w-9 rounded-full bg-gray-200 after:absolute after:left-[2px] after:top-[2px] after:h-4 after:w-4 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-mirage-500 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-mirage-300 dark:border-gray-600 dark:bg-gray-700 dark:peer-focus:ring-mirage-800">
                                        </div>
                                    </label>
                                </td>

                                <td class="p-4 whitespace-nowrap">
                                    {{area.seccion.length}}
                                </td>

                                <td class="p-4 whitespace-nowrap">
                                    @if (area.isAvailible) {
                                    <button (click)="toggleCreateSeccionModal(area)"
                                        class="inline-flex items-center gap-2 px-2 py-1 text-xs font-medium text-blue-800 bg-blue-100 rounded dark:bg-blue-900 dark:text-blue-300">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-plus" width="16" height="16"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 5l0 14"></path>
                                            <path d="M5 12l14 0"></path>
                                        </svg>
                                        <span>Sección</span>
                                    </button>
                                    } @else {
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="text-pink-500 icon icon-tabler icon-tabler-antenna-bars-1" width="24"
                                        height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M6 18l0 .01"></path>
                                        <path d="M10 18l0 .01"></path>
                                        <path d="M14 18l0 .01"></path>
                                        <path d="M18 18l0 .01"></path>
                                    </svg>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="flex flex-col items-center justify-between sm:flex-row">
            <!-- Area modal -->
            @if (showNewAreaModal) {
            <section>
                <div
                    class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none">
                    <div
                        class="relative w-full my-3 mx-auto max-w-[16rem] sm:my-6 sm:max-w-md sm:min-w-[20rem] md:max-w-xl">
                        <!--content-->
                        <div
                            class="relative flex w-full min-w-[14rem] flex-col rounded overflow-hidden border border-mirage-400 border-solid outline-none focus:outline-none dark:border-mirage-600">
                            <form [formGroup]="addAreaForm" autocomplete="off" (ngSubmit)="createNewAreaInformation()">
                                <!--header-->
                                <div
                                    class="flex items-center justify-between px-3 py-2 border-b border-solid border-mirage-400 bg-mirage-50 dark:bg-mirage-950 dark:border-mirage-600">
                                    <h3 class="text-xs font-medium uppercase">Añadir Área
                                    </h3>
                                    <button class="custom-close-button dark:custom-close-button-dark"
                                        (click)="toggleCreateAreaModalClose()">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x"
                                            width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5"
                                            stroke="currentColor" fill="none" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M18 6l-12 12"></path>
                                            <path d="M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                                <!--body-->
                                <div
                                    class="relative flex-auto px-3 py-2 max-h-[440px] bg-gray-50 overflow-y-auto dark:bg-mirage-950 dark:border-mirage-600">
                                    <div class="relative overflow-x-auto min-h-[6rem]">
                                        <p class="text-xs uppercase">Por favor, ingrese el nombre para el área que
                                            desea
                                            crear</p>
                                        <span>
                                            <small>Los campos con <strong class="font-semibold text-blue-500">*</strong>
                                                son obligatorios.
                                            </small>
                                        </span>

                                        <div class="pt-2">
                                            <label for="descripcion"
                                                class="block text-[10px] uppercase font-medium dark:text-gray-400">Descripción
                                                <strong class="font-semibold text-blue-500">*</strong></label>
                                            <input type="text" id="descripcion" formControlName="descripcion"
                                                class="h-10 pl-3 custom-input-light placeholder:text-slate-400 focus:shadow-md dark:custom-input-dark dark:shadow-none"
                                                placeholder="P.ej., Laboratorios">
                                        </div>
                                    </div>
                                </div>
                                <!--footer-->
                                <div
                                    class="flex items-center justify-end px-3 py-2 border-t border-solid border-mirage-400 bg-mirage-50 dark:bg-mirage-950 dark:border-mirage-600">
                                    <button type="submit" class="custom-blue-button dark:custom-blue-button-dark"
                                        [disabled]="addAreaForm.invalid">Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="fixed inset-0 z-40 opacity-60 bg-zinc-500 dark:bg-zinc-900 dark:opacity-60">
                </div>
            </section>
            }
        </div>
    </section>

    <section class="flex flex-col gap-2">

        <div class="flex flex-row items-center px-2">
            <h2 class="text-base">Secciones</h2>
        </div>

        <div class="pb-2">
            <div class="flex">
                <div class="w-full overflow-y-auto">
                    <table class="w-full text-left">
                        <thead
                            class="border border-mirage-400 bg-mirage-50 text-[10px] font-medium uppercase dark:bg-mirage-950 dark:border-mirage-600">
                            <tr>
                                <th scope="col" class="p-4">
                                    ID Sección
                                </th>
                                <th scope="col" class="p-4">
                                    Área Correspondiente
                                </th>
                                <th scope="col" class="p-4">
                                    Descripción
                                </th>
                                <th scope="col" class="p-4">
                                    Estado
                                </th>
                                <th scope="col" class="p-4">
                                    A/I
                                </th>
                                <th scope="col" class="p-4">
                                    Nro. Pol/Mód
                                </th>
                                <th scope="col" class="p-4">
                                    Añadir
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let seccion of seccionInformation"
                                class="border border-mirage-400 hover:bg-gray-100 dark:border-mirage-600 dark:hover:bg-mirage-900/10">
                                <td class="p-4 whitespace-nowrap">
                                    {{seccion.id_seccion}}
                                </td>

                                <td class="p-4 whitespace-nowrap">
                                    {{seccion.area.descripcion}}
                                </td>

                                <td class="p-4 font-semibold whitespace-nowrap">
                                    {{seccion.descripcion}}
                                </td>

                                <td class="p-4 whitespace-nowrap">
                                    <span [ngClass]="getStatusClass(seccion.isAvailible)">
                                        {{seccion.isAvailible | statusManagement
                                        }}
                                    </span>
                                </td>

                                <td class="p-4 whitespace-nowrap">
                                    <label class="relative inline-flex items-center cursor-pointer">
                                        <input type="checkbox" [checked]="seccion.isAvailible" name="seccion-active"
                                            (change)="updateSeccionState(seccion.id_seccion, seccion.isAvailible)"
                                            class="sr-only peer" />
                                        <div
                                            class="peer h-5 w-9 rounded-full bg-gray-200 after:absolute after:left-[2px] after:top-[2px] after:h-4 after:w-4 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-mirage-500 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-mirage-300 dark:border-gray-600 dark:bg-gray-700 dark:peer-focus:ring-mirage-800">
                                        </div>
                                    </label>
                                </td>

                                <td class="p-4 whitespace-nowrap">
                                    {{seccion.estacion_trabajo.length}}
                                </td>

                                <td class="p-4 whitespace-nowrap">
                                    @if (seccion.isAvailible) {
                                    <button (click)="toggleCreatePolModal(seccion)"
                                        class="inline-flex items-center gap-2 px-2 py-1 text-xs font-medium text-indigo-800 bg-indigo-100 rounded dark:bg-indigo-900 dark:text-indigo-300">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-plus" width="16" height="16"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 5l0 14"></path>
                                            <path d="M5 12l14 0"></path>
                                        </svg>
                                        <span>Pol/Mód</span>
                                    </button>
                                    } @else {
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="text-pink-500 icon icon-tabler icon-tabler-antenna-bars-1" width="24"
                                        height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M6 18l0 .01"></path>
                                        <path d="M10 18l0 .01"></path>
                                        <path d="M14 18l0 .01"></path>
                                        <path d="M18 18l0 .01"></path>
                                    </svg>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="flex flex-col items-center justify-between sm:flex-row">
            <!-- Seccion modal -->
            <section *ngIf="showNewSeccionModal">
                <div
                    class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none">
                    <div
                        class="relative w-full my-3 mx-auto max-w-[16rem] sm:my-6 sm:max-w-md sm:min-w-[20rem] md:max-w-xl">
                        <!--content-->
                        <div
                            class="relative flex w-full min-w-[14rem] flex-col rounded overflow-hidden border border-mirage-400 border-solid outline-none focus:outline-none dark:border-mirage-600">
                            <form [formGroup]="addSeccionForm" autocomplete="off"
                                (ngSubmit)="createNewSeccionInformation()">
                                <!--header-->
                                <div
                                    class="flex items-center justify-between px-3 py-2 border-b border-solid border-mirage-400 bg-mirage-50 dark:bg-mirage-950 dark:border-mirage-600">
                                    <h3 class="text-xs font-medium uppercase">Añadir Sección
                                    </h3>
                                    <button class="custom-close-button dark:custom-close-button-dark"
                                        (click)="toggleCreateSeccionModalClose()">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x"
                                            width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5"
                                            stroke="currentColor" fill="none" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M18 6l-12 12"></path>
                                            <path d="M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                                <!--body-->
                                <div
                                    class="relative flex-auto px-3 py-2 max-h-[440px] bg-gray-50 overflow-y-auto dark:bg-mirage-950 dark:border-mirage-600">
                                    <div class="relative overflow-x-auto min-h-[6rem]">
                                        <p>{{createSectionInformation}}</p>
                                        <span><small>Los campos con <strong
                                                    class="font-semibold text-blue-500">*</strong>
                                                son
                                                obligatorios.</small></span>

                                        <div class="grid grid-cols-1 pt-2 gap-y-2 gap-x-3">

                                            <div>
                                                <label for="descripcion"
                                                    class="block text-[10px] uppercase font-medium dark:text-gray-400">Descripción
                                                    <strong class="font-semibold text-blue-500">*</strong></label>
                                                <input type="text" id="descripcion" formControlName="descripcion"
                                                    class="h-10 pl-3 custom-input-light placeholder:text-slate-400 focus:shadow-md dark:custom-input-dark dark:shadow-none"
                                                    placeholder="P.ej., Odontología">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--footer-->
                                <div
                                    class="flex items-center justify-end px-3 py-2 border-t border-solid border-mirage-400 bg-mirage-50 dark:bg-mirage-950 dark:border-mirage-600">
                                    <button type="submit" class="custom-blue-button dark:custom-blue-button-dark"
                                        [disabled]="addSeccionForm.invalid">Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div *ngIf="showNewSeccionModal"
                    class="fixed inset-0 z-40 opacity-60 bg-zinc-500 dark:bg-zinc-900 dark:opacity-60">
                </div>
            </section>
        </div>
    </section>

    <section class="flex flex-col gap-2">

        <div class="flex flex-row items-center px-2">
            <h2 class="text-base">Estaciones de Trabajo</h2>
        </div>

        <div class="pb-2">
            <div class="flex">
                <div class="w-full overflow-y-auto">
                    <table class="w-full text-left">
                        <thead
                            class="border border-mirage-400 bg-mirage-50 text-[10px] font-medium uppercase dark:bg-mirage-950 dark:border-mirage-600">
                            <tr>
                                <th scope="col" class="p-4">
                                    ID Módulo
                                </th>
                                <th scope="col" class="p-4">
                                    Sección Correspondiente
                                </th>
                                <th scope="col" class="p-4">
                                    Descripción
                                </th>
                                <th scope="col" class="p-4">
                                    Estado
                                </th>
                                <th scope="col" class="p-4">
                                    A/I
                                </th>
                                <th scope="col" class="p-4">
                                    Nro. usuarios
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let polivalente of polivalenteInformation"
                                class="border border-mirage-400 hover:bg-gray-100 dark:border-mirage-600 dark:hover:bg-mirage-900/10">
                                <td class="p-4 whitespace-nowrap">
                                    {{polivalente.id_estacion}}
                                </td>

                                <td class="p-4 whitespace-nowrap">
                                    {{polivalente.seccion.descripcion}}
                                </td>

                                <td class="p-4 font-semibold whitespace-nowrap">
                                    {{polivalente.descripcion}}
                                </td>

                                <td class="p-4 whitespace-nowrap">
                                    <span [ngClass]="getStatusClass(polivalente.isAvailible)">
                                        {{polivalente.isAvailible | statusManagement
                                        }}
                                    </span>
                                </td>

                                <td class="p-4 whitespace-nowrap">
                                    <label class="relative inline-flex items-center cursor-pointer">
                                        <input type="checkbox" [checked]="polivalente.isAvailible" name="pol-active"
                                            (change)="updatePolState(polivalente.id_estacion, polivalente.isAvailible)"
                                            class="sr-only peer" />
                                        <div
                                            class="peer h-5 w-9 rounded-full bg-gray-200 after:absolute after:left-[2px] after:top-[2px] after:h-4 after:w-4 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-mirage-500 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-mirage-300 dark:border-gray-600 dark:bg-gray-700 dark:peer-focus:ring-mirage-800">
                                        </div>
                                    </label>
                                </td>

                                <td class="p-4 whitespace-nowrap">
                                    {{polivalente.usuario.length}} <span class="ml-1">usuario(s)</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="flex flex-col items-center justify-between sm:flex-row">
            <!-- Polivalente modal -->
            <section *ngIf="showNewPolModal">
                <div
                    class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none">
                    <div
                        class="relative w-full my-3 mx-auto max-w-[16rem] sm:my-6 sm:max-w-md sm:min-w-[20rem] md:max-w-xl">
                        <!--content-->
                        <div
                            class="relative flex w-full min-w-[14rem] flex-col rounded overflow-hidden border border-mirage-400 border-solid outline-none focus:outline-none dark:border-mirage-600">
                            <!--header-->
                            <form [formGroup]="addNewPolForm" autocomplete="off"
                                (ngSubmit)="createNewPolivalenteInformation()">
                                <div
                                    class="flex items-center justify-between px-3 py-2 border-b border-solid border-mirage-400 bg-mirage-50 dark:bg-mirage-950 dark:border-mirage-600">
                                    <h3 class="text-xs font-semibold uppercase">Añadir Pol/Módulo
                                    </h3>
                                    <button class="custom-close-button dark:custom-close-button-dark"
                                        (click)="toggleCreatePolModalClose()">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x"
                                            width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5"
                                            stroke="currentColor" fill="none" stroke-linecap="round"
                                            stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M18 6l-12 12"></path>
                                            <path d="M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                                <!--body-->
                                <div
                                    class="relative flex-auto px-3 py-2 max-h-[440px] bg-gray-50 overflow-y-auto dark:bg-mirage-950 dark:border-mirage-600">
                                    <div class="relative overflow-x-auto min-h-[6rem]">
                                        <p>{{createPolInformation}}</p>
                                        <span><small>Los campos con <strong
                                                    class="font-semibold text-blue-500">*</strong>
                                                son
                                                obligatorios.</small></span>

                                        <div class="grid grid-cols-1 pt-2 gap-y-2 gap-x-3">
                                            <div>
                                                <label for="descripcion"
                                                    class="block text-[10px] uppercase font-medium dark:text-gray-400">Descripción
                                                    <strong class="font-semibold text-blue-500">*</strong></label>
                                                <input type="text" id="descripcion" formControlName="descripcion"
                                                    class="h-10 pl-3 custom-input-light placeholder:text-slate-400 focus:shadow-md dark:custom-input-dark dark:shadow-none"
                                                    placeholder="P.ej., Polivalente 7">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--footer-->
                                <div
                                    class="flex items-center justify-end px-3 py-2 border-t border-solid border-mirage-400 bg-mirage-50 dark:bg-mirage-950 dark:border-mirage-600">
                                    <button type="submit" class="custom-blue-button dark:custom-blue-button-dark"
                                        [disabled]="addNewPolForm.invalid">Aceptar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div *ngIf="showNewPolModal"
                    class="fixed inset-0 z-40 opacity-60 bg-zinc-500 dark:bg-zinc-900 dark:opacity-60">
                </div>
            </section>

        </div>
    </section>
</div>