<div class="flex flex-col gap-3">

    <div>
        <div class="hidden w-full h-auto overflow-hidden bg-gray-100 rounded-b max-h-52 md:block">
            <img class="bg-no-repeat bg-cover" src="assets/images/msp_banner.svg" alt="">
        </div>
        <div class="flex flex-col items-center mt-2 md:-mt-20">
            <div class="p-2 bg-gray-100 border-4 rounded-full border-gray-50 dark:text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="90" height="90"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                </svg>
            </div>
            <p class="text-gray-500 dark:text-gray-400"> {{ userInformation.us_user }}</p>
            <div class="flex flex-row items-center gap-3">
                <p class="text-base sm:text-2xl"> {{userInformation.us_apellidos}} {{userInformation.us_nombres}} </p>
                <span class="text-mirage-600 dark:text-mirage-400">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check-filled"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path
                            d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                            stroke-width="0" fill="currentColor"></path>
                    </svg>
                </span>
            </div>
            <div class="flex flex-col items-center gap-0 sm:flex-row sm:gap-3">
                <p class="text-mirage-600 dark:text-mirage-400">{{userInformation.us_role}}</p>
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="hidden icon icon-tabler icon-tabler-dots-vertical sm:flex" width="16" height="16"
                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                    <path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                    <path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                </svg>
                <p class="text-sm text-gray-500 dark:text-gray-400">{{userInformation.us_carrera}}</p>
            </div>
        </div>
    </div>

    <div class="flex flex-col gap-3 pb-3 md:px-3">
        <div
            class="flex flex-col justify-center gap-4 p-3 border border-gray-300 rounded group/item dark:border-mirage-900">
            <div class="flex flex-row items-center justify-between w-full">
                <span class="text-sm font-medium text-mirage-600 dark:text-mirage-400 sm:text-base">Información
                    Personal</span>
                <button (click)="toggleUserModal()"
                    class="flex flex-row items-center invisible px-2 py-1 group/edit rounded-xl hover:bg-gray-100 group-hover/item:visible dark:hover:bg-mirage-950">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="20"
                        height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                        <path d="M13.5 6.5l4 4"></path>
                    </svg>
                </button>
            </div>
            <div class="grid grid-cols-1 gap-3 px-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                <div>
                    <span
                        class="block text-[10px] tracking-wider text-gray-500 uppercase font-medium dark:text-gray-400">Ci</span>
                    <span id="cedula" class="h-10 text-base font-normal tracking-normal">
                        {{userInformation.us_cedula}} </span>
                </div>
                <div>
                    <span
                        class="block text-[10px] tracking-wider text-gray-500 uppercase font-medium dark:text-gray-400">Apellidos</span>
                    <span id="apellido" name="apellido"
                        class="h-10 text-base font-normal tracking-normal">{{userInformation.us_apellidos}}</span>
                </div>
                <div>
                    <span
                        class="block text-[10px] tracking-wider text-gray-500 uppercase font-medium dark:text-gray-400">Nombres</span>
                    <span id="nombre" name="nombre"
                        class="h-10 text-base font-normal tracking-normal">{{userInformation.us_nombres}}</span>
                </div>
                <div>
                    <span
                        class="block text-[10px] tracking-wider text-gray-500 uppercase font-medium dark:text-gray-400">Carrera</span>
                    <span id="carrera"
                        class="h-10 text-base font-normal tracking-normal">{{userInformation.us_carrera}}</span>
                </div>
                <div>
                    <span
                        class="block text-[10px] tracking-wider text-gray-500 uppercase font-medium dark:text-gray-400">Teléfono</span>
                    <span id="telefono" class="h-10 text-base font-normal tracking-normal">{{userInformation.us_telefono
                        | nullPipe}}</span>
                </div>
                <div>
                    <span
                        class="block text-[10px] tracking-wider text-gray-500 uppercase font-medium dark:text-gray-400">Fecha
                        de
                        Nacimiento</span>
                    <span id="nacimiento"
                        class="h-10 text-base font-normal tracking-normal">{{userInformation.us_fecha_nac}}</span>
                </div>
            </div>
        </div>

        <div
            class="flex flex-col justify-center gap-4 p-3 border border-gray-300 rounded group/item dark:border-mirage-900">
            <div class="flex flex-row items-center justify-between w-full">
                <span class="text-sm font-medium text-mirage-600 dark:text-mirage-400 sm:text-base">Información de
                    cuenta</span>
            </div>
            <div class="grid grid-cols-1 gap-3 px-3 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                <div>
                    <span
                        class="block text-[10px] tracking-wider text-gray-500 uppercase font-medium dark:text-gray-400">Pol/Módulo</span>
                    <span id="assignments"
                        class="h-10 text-base font-normal tracking-normal">{{polInformation.descripcion}}</span>
                </div>
                <div>
                    <span
                        class="block text-[10px] tracking-wider text-gray-500 uppercase font-medium dark:text-gray-400">Rol</span>
                    <span id="rol" class="h-10 text-base font-normal tracking-normal">{{userInformation.us_role}}</span>
                </div>
                <div>
                    <span
                        class="block text-[10px] tracking-wider text-gray-500 uppercase font-medium dark:text-gray-400">Estado</span>
                    <span id="estado" class="h-10 text-base font-normal tracking-normal">{{userInformation.us_isActive
                        | statusManagement}}</span>
                </div>
                <div>
                    <span
                        class="block text-[10px] tracking-wider text-gray-500 uppercase font-medium dark:text-gray-400">Usuario</span>
                    <div class="flex flex-row items-center gap-1">
                        <span id="usuario"
                            class="text-base font-normal tracking-normal">{{userInformation.us_user}}</span>
                        <button (click)="toggleNicknameModal()"
                            class="flex flex-row items-center invisible p-1 group/edit rounded-xl hover:bg-gray-100 group-hover/item:visible dark:hover:bg-mirage-950">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil"
                                width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                                <path d="M13.5 6.5l4 4"></path>
                            </svg>
                        </button>
                    </div>

                </div>
                <div>
                    <span
                        class="block text-[10px] tracking-wider text-gray-500 uppercase font-medium dark:text-gray-400">Password</span>
                    <div class="flex flex-row items-center gap-1">
                        <span id="password" class="text-base font-normal tracking-normal">************</span>
                        <button (click)="togglePasswordModal()"
                            class="flex flex-row items-center invisible p-1 group/edit rounded-xl hover:bg-gray-100 group-hover/item:visible dark:hover:bg-mirage-950">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil"
                                width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                                <path d="M13.5 6.5l4 4"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- User modal -->
    <section *ngIf="showUserModal">
        <div
            class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none">
            <div class="relative my-6 mx-auto max-w-[16rem] sm:max-w-sm sm:min-w-[20rem] md:max-w-lg">
                <!--content-->
                <div
                    class="relative flex w-full min-w-[14rem] flex-col rounded overflow-hidden border border-mirage-400 border-solid outline-none focus:outline-none dark:border-mirage-600">
                    <form [formGroup]="adminInformationForm" autocomplete="off" (ngSubmit)="updateUserInformation()">
                        <!--header-->
                        <div
                            class="flex items-center justify-between px-3 py-2 border-b border-solid border-mirage-400 bg-mirage-50 dark:bg-mirage-950 dark:border-mirage-600">
                            <h3 class="text-xs font-medium uppercase">Información de usuario
                            </h3>
                            <button class="custom-close-button dark:custom-close-button-dark"
                                (click)="toggleUserModalClose()">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x"
                                    width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M18 6l-12 12"></path>
                                    <path d="M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                        <!--body-->
                        <div
                            class="relative flex-auto px-3 py-2 overflow-y-auto bg-gray-50 dark:bg-mirage-950 dark:border-mirage-600">
                            <div class="relative overflow-x-auto min-h-[6rem]">
                                <p class="text-xs uppercase">Campos editables</p>
                                <span><small>Los campos con <strong class="font-semibold text-blue-500">*</strong>
                                        son
                                        obligatorios.</small></span>
                                <div class="pt-2">

                                    <div class="">
                                        <label for="us_carrera"
                                            class="block text-[10px] uppercase font-medium dark:text-gray-400">Carrera
                                            <strong class="font-semibold text-blue-500">*</strong></label>
                                        <input type="text" id="us_carrera" formControlName="us_carrera"
                                            class="h-10 pl-3 custom-input-light placeholder:text-slate-400 focus:custom-input-blue-focus focus:shadow-md dark:custom-input-dark dark:focus:custom-input-blue-focus dark:shadow-none"
                                            placeholder="P.ej., Med. General" maxlength="50">
                                    </div>

                                    <div class="pt-2">
                                        <label for="us_telefono"
                                            class="block text-[10px] uppercase font-medium dark:text-gray-400">Teléfono
                                            <strong class="font-semibold text-blue-500">*</strong></label>
                                        <input type="text" id="us_telefono" formControlName="us_telefono"
                                            class="h-10 pl-3 custom-input-light placeholder:text-slate-400 focus:custom-input-blue-focus focus:shadow-md dark:custom-input-dark dark:focus:custom-input-blue-focus dark:shadow-none"
                                            placeholder="P.ej., 0990000000" maxlength="12">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--footer-->
                        <div
                            class="flex items-center justify-end px-3 py-2 border-t border-solid border-mirage-400 bg-mirage-50 dark:bg-mirage-950 dark:border-mirage-600">
                            <button type="submit"
                                class="custom-blue-button dark:custom-blue-button-dark"
                                [disabled]="!canUpdateUser">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="showUserModal" class="fixed inset-0 z-40 opacity-60 bg-zinc-500 dark:bg-zinc-900 dark:opacity-60">
        </div>
    </section>

    <!-- Nickname modal -->
    <section *ngIf="showNicknameModal">
        <div
            class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none">
            <div class="relative my-6 mx-auto max-w-[16rem] sm:max-w-sm sm:min-w-[20rem] md:max-w-lg">
                <!--content-->
                <div
                    class="relative flex w-full min-w-[14rem] flex-col rounded overflow-hidden border border-mirage-400 border-solid outline-none focus:outline-none dark:border-mirage-600">
                    <!--header-->
                    <form [formGroup]="adminNicknameForm" autocomplete="off" (ngSubmit)="updateUserNickname()">
                        <div
                            class="flex items-center justify-between px-3 py-2 border-b border-solid border-mirage-400 bg-mirage-50 dark:bg-mirage-950 dark:border-mirage-600">
                            <h3 class="text-xs font-medium uppercase">Configuración de usuario
                            </h3>
                            <button class="custom-close-button dark:custom-close-button-dark"
                                (click)="toggleNicknameModalClose()">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x"
                                    width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M18 6l-12 12"></path>
                                    <path d="M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                        <!--body-->
                        <div
                            class="relative flex-auto px-3 py-2 overflow-y-auto bg-gray-50 dark:bg-mirage-950 dark:border-mirage-600">
                            <div class="relative overflow-x-auto min-h-[6rem]">
                                <!-- <p class="text-xs uppercase">Campos editables</p> -->
                                <span><small>El campo a continuación es obligatorio.</small></span>
                                <div class="pt-2">

                                    <div class="">
                                        <label for="us_user"
                                            class="block text-[10px] uppercase font-medium dark:text-gray-400">Usuario
                                            <strong class="font-semibold text-blue-500">*</strong></label>
                                        <input type="text" id="us_user" formControlName="us_user"
                                            class="h-10 pl-3 custom-input-light placeholder:text-slate-400 focus:custom-input-blue-focus focus:shadow-md dark:custom-input-dark dark:focus:custom-input-blue-focus dark:shadow-none"
                                            placeholder="usuario" minlength="6" maxlength="24">
                                    </div>
                                </div>

                                <div class="flex flex-col pt-3">
                                    <small *ngIf="adminNicknameForm.get('us_user')?.value.length < 6"><strong
                                            class="text-orange-700">*</strong> Caracteres:
                                        min 6 - máx 24</small>
                                </div>
                            </div>

                        </div>
                        <!--footer-->
                        <div
                            class="flex items-center justify-end px-3 py-2 border-t border-solid border-mirage-400 bg-mirage-50 dark:bg-mirage-950 dark:border-mirage-600">
                            <button type="submit"
                                class="custom-blue-button dark:custom-blue-button-dark"
                                [disabled]="!canUpdateNickname">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="showNicknameModal"
            class="fixed inset-0 z-40 opacity-60 bg-zinc-500 dark:bg-zinc-900 dark:opacity-60"></div>
    </section>

    <!-- Password modal -->
    <section *ngIf="showPasswordModal">
        <div
            class="fixed inset-0 z-50 flex items-center justify-center overflow-x-hidden overflow-y-auto outline-none focus:outline-none">
            <div class="relative my-6 mx-auto max-w-[16rem] sm:max-w-sm sm:min-w-[20rem] md:max-w-lg">
                <!--content-->
                <div
                    class="relative flex w-full min-w-[14rem] flex-col rounded overflow-hidden border border-mirage-400 border-solid outline-none focus:outline-none dark:border-mirage-600">
                    <!--header-->
                    <form autocomplete="off" (ngSubmit)="updateUserPassword()">
                        <div
                            class="flex items-center justify-between px-3 py-2 border-b border-solid border-mirage-400 bg-mirage-50 dark:bg-mirage-950 dark:border-mirage-600">
                            <h3 class="text-xs font-medium uppercase">Configuración de la contraseña
                            </h3>
                            <button class="custom-close-button dark:custom-close-button-dark"
                                (click)="togglePasswordModalClose()">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x"
                                    width="18" height="18" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M18 6l-12 12"></path>
                                    <path d="M6 6l12 12"></path>
                                </svg>
                            </button>
                        </div>
                        <!--body-->
                        <div
                            class="relative flex-auto px-3 py-2 overflow-y-auto bg-gray-50 dark:bg-mirage-950 dark:border-mirage-600">
                            <div class="relative overflow-x-auto min-h-[6rem]">
                                <!-- <span class="text-xs uppercase">Campos editables</span> -->
                                <span><small>Los campos a continuación es obligatorio.</small></span>
                                <div class="pt-2">
                                    <div class="">
                                        <label for="us_password"
                                            class="block text-[10px] uppercase font-medium dark:text-gray-400">Nueva
                                            contraseña
                                            <strong class="font-semibold text-blue-500">*</strong></label>
                                        <input type="text" id="us_password" [(ngModel)]="user_password.us_password"
                                            name="us_password"
                                            class="h-10 pl-3 custom-input-light placeholder:text-slate-400 focus:custom-input-blue-focus focus:shadow-md dark:custom-input-dark dark:focus:custom-input-blue-focus dark:shadow-none"
                                            placeholder="***********" minlength="6" maxlength="24">
                                    </div>

                                    <div class="pt-2">
                                        <label for="passwordRepeat"
                                            class="block text-[10px] uppercase font-medium dark:text-gray-400">Repetir
                                            nueva contraseña
                                            <strong class="font-semibold text-blue-500">*</strong></label>
                                        <input type="text" id="passwordRepeat" [(ngModel)]="passwordRepeat"
                                            name="passwordRepeat"
                                            class="h-10 pl-3 custom-input-light placeholder:text-slate-400 focus:custom-input-blue-focus focus:shadow-md dark:custom-input-dark dark:focus:custom-input-blue-focus dark:shadow-none"
                                            placeholder="***********" minlength="6" maxlength="24"
                                            value={{passwordRepeat}}>
                                    </div>
                                </div>
                                <div class="flex flex-col pt-3">
                                    <small
                                        *ngIf="user_password.us_password.length < 8 || passwordRepeat.length < 8 "><strong
                                            class="text-orange-700">*</strong> Caracteres:
                                        min 6 - máx 24</small>
                                    <small *ngIf="user_password.us_password !== passwordRepeat"><strong
                                            class="text-orange-700">*</strong> Las contraseñas no
                                        coinciden</small>
                                </div>
                            </div>

                        </div>
                        <!--footer-->
                        <div
                            class="flex items-center justify-end px-3 py-2 border-t border-solid border-mirage-400 bg-mirage-50 dark:bg-mirage-950 dark:border-mirage-600">
                            <button type="submit"
                                class="custom-blue-button dark:custom-blue-button-dark"
                                [disabled]="!canUpdatePassword">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="showPasswordModal"
            class="fixed inset-0 z-40 opacity-60 bg-zinc-500 dark:bg-zinc-900 dark:opacity-60"></div>
    </section>
</div>