<div
    class="flex flex-col gap-3 p-3 border border-solid rounded border-mirage-400 bg-mirage-50 dark:bg-mirage-950 dark:border-mirage-600">
    <div class="flex flex-col items-center justify-center gap-1 text-sm font-medium sm:flex-row sm:gap-3 md:gap-5">
        <svg xmlns="http://www.w3.org/2000/svg"
            class="text-blue-600 icon icon-tabler icon-tabler-info-circle dark:text-blue-500" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
            <path d="M12 9h.01"></path>
            <path d="M11 12h1v4h1"></path>
        </svg>
        <span class="text-xs text-gray-600 sm:text-sm dark:text-gray-300">
            Sin información para mostrar
        </span>
    </div>
    <div class="flex items-center justify-center">
        <img class="h-56" src="assets/images/no-data.svg" alt="" srcset="">
    </div>
</div>